body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    margin: 0%;
}

header {
    text-align: center;
    background-color: lightseagreen;
    color: white;
    padding: 10px;
}

fieldset {
    margin: 30px auto;
    background-color: snow;
    width: 80%;
    border: 2px black;
    border-radius: 10px;
    padding: 20px;
}

legend {
    font-weight: bold;
    background-color: lightskyblue;
    color: white;
    border-radius: 8px  ;
    padding: 10px 20px;
}

.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
    align-items: center;
}

.form-row label {
    text-align: right;
    font-weight: bold;
    width: 160px;
}

.form-row input:not([type='submit']), .form-row select, .form-row textarea {
    background-color: lightcyan;
    flex: 1;
    padding: 6px 8px;
    border: 1px solid darkgray;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.form-row input:not([type='submit']):focus, .form-row select:focus, .form-row textarea:focus {
    background-color: lavender;
    border-color: black;
    outline: none;
}

.radio-group label, .check-row label {
    gap: 5px;
    font-weight: bold;
}

.check-row {
    justify-content: center;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: darkblue;
}

input[type='submit'] {
    background-color: #004aad;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
}

@media only screen and (max-width: 600px) {
    .form-row,
    .check-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-row label,
    .spacer {
        text-align: left;
        width: 100%;
    }

    fieldset {
        width: 95%;
    }

    input[type='submit'] {
        width: 100%;
        font-size: 18px;
        padding: 15px;
    }
}